  @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
  @font-face{
   font-family: "lacite";
   font-style: normal;
   font-weight: normal;
   src: url('../tipografias/Blanche.ttf');
}
 body { font-family:'Roboto Condensed';
}

  /* estilo menu */
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #43D1AF;
  opacity: 0.95;
  z-index: 5;
}

.overlay { display: none;  opacity:
}

.overlay ul {
  max-width: 40%;
  text-align: center;
  margin: 2% auto;
  max-height: 100%;
}

.overlay ul li {
  list-style: none;
  font-size: 2.2em;
  padding: 8% 0;
  border-bottom: 1px dotted #FFFFFF;
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
}

.overlay ul li:hover {
  background: #FFFFFF;
  cursor: pointer;
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
}

.overlay ul li a { color: #FFFFFF; }

.overlay ul li:hover a { color: #0B4F6C; }

.close {
  font-size: 40px;
  font-weight: lighter;
  position: absolute;
  color: #FFFFFF;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.show { display: block; }

.hide { display: block; }


       /* fin estilo menu*/


 
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  margin-top: -20px !important;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container .title-container {
  z-index: 2;
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
  color: #fff;
}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 3;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}

  

    
   
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    

  #mimodal{
    background-color: black;
  }

 #imgmodal{
  margin:43px;
 }
 #loguear{
   margin-left:10%;
   margin-right: 10%

 }
 input{
   margin-bottom: 10%;
   margin-top: 10%;
 }
 .reg{
  margin: 0px
 }
.btreg{
  height: 70px;
  width: 100%;
  border-radius: 5px;
  
}
.iconmenu {
  text-decoration: none !important;
  color: white;
  margin-top: -25%;
  
}
#nomusu{
    margin-right: 0%;
    margin-top: 5% !important;
    text-decoration: none;
    color: white;
    size: 30px !important;
  }


.datatable{
  width: 70%;
  
  margin-left: 25%;

}
.gestionar{
   font: 95% Arial, Helvetica, sans-serif;
     margin-left: 2%;
      margin-right: 2%;
      margin-top: -10px;
    background: #43D1AF;
    padding: 20px 0;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -5px -16px 16px -16px;

}
.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
     margin-left: 2%;
      margin-right: 2%;

    padding: 16px;
    background: #F7F7F7;
    width: 95%;
}
.form-style-6 h3{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="password"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="file"],
.form-style-6 input[type="url"],
.form-style-6 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 48%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 2%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 textarea{
  -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 98%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 2%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;

}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="password"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="file"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.guardar{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 48%;
    padding: 3%!important;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.cancelar{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 48%;
    padding: 2.78% !important;
    background:#797D8B;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.guardar:hover{
    background: #2EBC99 !important;
}
.cancelar:hover{
    background: #5C6171 !important;
}
.new{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 48%;
    padding: 3%!important;
    background:black;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    margin-bottom: 25px!important;
}
.new:hover{
    background: #080707 !important;
}
  
  
}
.formulario{
   background: #f7f4d1;
}
.contenedor {
  width: 98%;
  background:;
  margin-top:-10px;
  margin-right:-50px !important;

}
#works {
  padding: 120px 0;
  background: #f6f6f6;
}

.isotope-item {
  z-index: 2
}
.isotope-hidden.isotope-item {
  z-index: 1
}
.isotope, .isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope-item {
  margin-right: -1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.isotope {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
.portfolio-item {
  margin-bottom: 30px;
}
.portfolio-item .hover-bg {
  max-height: 190px;
  overflow: hidden;
  position: relative;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: rgba(255,255,255,0.6);
  background: rgba(0, 0, 0, 0.66);
  padding: 25% 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  color: #f6f6f6;
}
.hover-bg:hover .hover-text>h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg .hover-text>p {
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
}
.hover-bg:hover .hover-text>p {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg .hover-text>i {
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}
#works i.fa {
  font-size: 20px;
  padding: 5px;
  color: #F4D03F;
}


* Contact Section */
#contact {
  padding: 120px 0 40px 0;
  background: #f6f6f6;
}
#contact .contact-item {
  padding: 10px;
  margin: 10px;
  height: 100px;
  border-radius: 4px;
}
#contact h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
}
#contact form {
  padding: 30px 0;
}
#contact i.fa {
  font-size: 22px;
  color: #43D1AF;
  margin-bottom: 10px;
}
#contact .text-danger {
  color: #ff3333;
  text-align: left;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: inherit;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
#contact .btn-default {
  background: #43D1AF;
  border: 0;
  border-radius: 4px;
  padding: 10px 20px;
  color: #f6f6f6;
  margin-top: 15px;
  font-size: 15px;
}
#contact .btn-default:hover, #contact .btn-default:focus {
  color: #43D1AF;
  background: #2c9586;
}
.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  outline-offset: none;
}
#contact .social ul {
  margin-top: 30px;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 24px;
  padding-top: 8px;
  color: #43D1AF;
  border-radius: 4px;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #2c9586;
}
#about {
  padding: 140px 0;
  background: #f6f6f6;
}
#about .about-text {
  margin-left: 10px;
}
#about H4 {
  font-size: 20px;
}
#about li {
  margin-bottom: 3px;
  list-style: none;
  padding: 0;
  font-size: 13px;
}
#about li:before {
  content: "✓";
  font-weight: 600;
  padding-right: 10px;
  color: #2c9586;
}
#about i.fa {
  float: left;
  display: block;
  margin-right: 15px;
  color: #fff;
  font-size: 44px;
  text-shadow: 0 0 1px #666;
}
#about img {
  margin-top: 20px;
}
#about p {
  margin-top: 20px;
  margin-bottom: 30px;
}





